.Stats {
  text-transform: uppercase;
  position: relative;
  width: calc(100% - 40px);
  z-index: 9;
  margin: 10px 20px;
}

.Stats__flex {
  display: flex;
  align-item: center;
  justify-content: space-between;
}

.Stats__col {
  width: 50%;
  padding: 5px;
}

.Stats p a {
  text-decoration: underline;
  user-select: none;
}

.Stats p span {
  display: block;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highglight-color: transparent;
}

.Stats p span.y {
  display: inline;
}

.Stats p span.Breadcrumbs {
  color: white;
}

.Stats p.Stats__hed {
  color: yellow;
}

.Stats p.Stats__hed span {
  font-size: 22px;
}

.Stats a {
  color: white;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Stats h1 {
  font-size: 22px;
  background: black;
  padding: 5px;
}

.Stats p {
  font-size: 16px;
  margin: 0;
}

.Stats .y {
  color: yellow;
}

.Stats .t {
  color: teal;
}

.Stats__call {
  position: absolute;
  top: 0;
  right: 0;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px black;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Stats__col.telephony {
  display: none;
}

.Stats__call h1 {
  background: none;
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}

.Stats__call h1 a {
  display: inline-block;
  text-decoration: underline;
}

.Stats__call h1 a:hover {
  transform: skewX(-15deg);
}

.Stats__call p {
  font-weight: bold;
  color: yellow;
  max-width: 150px;
  text-align: right;
  font-size: 12px;
}

@media (min-width: 760px) {
  .Stats__call h1 {
    font-size: 48px;
  }

  .Stats__call p {
    max-width: 300px;
  }
}

@media (min-width: 1020px) {
  .Stats__col.telephony {
    display: block;
  }
}
