.Social {
  position: absolute;
  bottom: 40px;
  background: teal;
  color: yellow;
  left: 0px;
  right: 0px;
  z-index: 3;
  font-family: 'VT323', monospace;
  display: flex;
  font-size: 14px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  -webkit-filter: blur(1px);
}

.Item {
  padding: 5px 10px;
  cursor: pointer;
  font-style: italic;
  &:hover {
    font-style: normal;
  }
}
