@keyframes story_slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.Story {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-filter: blur(1px); */
  a {
    color: inherit;
    text-decoration: none;
  }
}

.Body {
  padding: 20px;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  max-width: 740px;
  font-family: 'VT323', 'menlo', monospace;
  @media (min-width: 1020px) {
    font-size: 22px;
  }
  @media (min-width: 1600px) {
    font-size: 28px;
  }
}

.Stats {
  position: absolute;
  bottom: 50px;
  right: 20px;
  left: 20px;
  height: 50%;
  max-height: 100px;
  z-index: 5;
  color: white;
  font-size: 12px;
  text-align: right;
  overflow: hidden;
  user-select: none;
}

.Waveform {
  background-repeat: no-repeat;
  background-size: 100% 300%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.Overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 0, 0.2);
  transform: translate3d(-50%, 0, 0);
  mix-blend-mode: lighten;
  pointer-events: none;
  user-select: none;
}

.Time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-family: 'VT323', monospace;
}
