@keyframes story_slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.Story {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Story a {
  color: inherit;
  text-decoration: none;
}

.Story__exit {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 12px;
  text-decoration: underline;
  margin: 0;
}

.Story__body {
  padding: 20px;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.Story__stats {
  position: absolute;
  bottom: 50px;
  right: 20px;
  left: 20px;
  z-index: 5;
  color: white;
  font-size: 12px;
  text-align: right;
}

.Story__stats_bg {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.Story__stats input[type='range'] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: grab;
}

.Story__stats input[type='range']:active {
  cursor: grabbing;
  outline: none;
}

.Story__stats input[type='range']:focus {
  outline: none;
}
.Story__stats input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 190px;
  width: 6px;
  background: white;
  transform: translate3d(0, 18px, 0);
}
