.CallTable {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  font-family: 'IBM Plex Mono';
  pointer-events: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 100%, 0);
  transition-delay: 2s;
  transition: all 0.5s linear;
}

.CallTable.active {
  opacity: 1;
  pointer-events: auto;

  transform: translate3d(0, 0, 0);
}

.CallTable table {
  padding: 20px;
  width: calc(100% - 40px);
  margin: 20px;
  text-align: left;
  border-spacing: 0 10px;
  border-collapse: separate;
  font-size: 16px;
  border: 1px dashed white;
}

.CallTable th {
  padding: 10px;
}

.CallTable td {
  padding: 10px;
  margin: 10px 0;
}

.CallTable td {
  border-bottom: 1px dashed white;
}

.CallTable tr:hover {
  cursor: pointer;
}

.CallTable a {
  color: white;
}
