.Nav {
  position: relative;
  width: 100%;
  height: 50px;
  background: black;
  color: teal;
  z-index: 9;
  text-align: center;
  padding: 0.625em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nav__main_title {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25rem;
  line-height: 25px;
  margin: 0;
  text-transform: uppercase;
}

.Nav__logo {
  position: absolute;
  left: 16px;
  top: 9px;
  width: 60px;
  height: 30px;
}

.Nav__logo svg {
  width: 100%;
  height: 100%;
}

.Nav__main_title__full {
  display: none;
}

@media (min-width: 1020px) {
  .Nav__main_title__full {
    display: inline-block;
  }
  .Nav__main_title__condensed {
    display: none;
  }
}
